@import "bootswatch.materia/variables";


$blue: #3F51B5 !default;
$indigo: #303F9F !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e51c23 !default;
$orange: #FF5722 !default;
$yellow: #FBC02D !default;
$green: #8BC34A !default;
$teal: #00796B !default;
$cyan: #00BCD4 !default;

$primary: $blue !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $gray-800 !default;
