<div class="reduceDivScroll list-group">
    {{#each Constructors}}
    <a href="#" data-type="0" data-subtype="1" data-id="{{Id}}" data-parent="{{ParentClass}}" data-namespace="{{../namespace}}" class="list-group-item popoverselect">
        <h6 class="list-group-item-heading hideOverflow">{{Name}}({{Parameters}})</h6>
        <div class="list-group-item-text">
            <small>{{Summary}}</small>
        </div>
    </a>
    {{/each}}
</div>
