<div class="list-group divScroll">
    {{#each Members}}
    <a href="#" data-type="3" data-id="{{Id}}" class="list-group-item">
        <h6 class="list-group-item-heading hideOverflow">{{Name}}</h6>
        <div class="list-group-item-text">
            <small>{{Description}}</small>
        </div>
    </a>
    {{/each}}
</div>
