<script id="typebaselist-template" type="text/x-handlebars-template">
    {{#each this}}
    <a href="#" data-id="{{Id}}" data-namespace="{{namespace}}" class="list-group-item">
        <h5 class="list-group-item-heading hideOverflow">{{Name}}</h5>
        <div class="list-group-item-text">
            <small>{{Summary}}</small>
        </div>
    </a>
    {{/each}}
</script>
