/*$blue: #2196F3 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e51c23 !default;
$orange: #fd7e14 !default;
$yellow: #ff9800 !default;
$green: #4CAF50 !default;
$teal: #20c997 !default;
$cyan: #9C27B0 !default;*/
.card:hover, .card:focus, .card:active {
  background-color: #FBC02D;
  cursor: pointer; }