.dllChoice {
  background-color: #66b2ff;
}
.dllChoice:hover,
.dllChoice:focus,
.dllChoice:active {
  background-color: #ff0039;
  cursor: pointer;
}
a.dllChoice:hover,
a.dllChoice:hover,
a.dllChoice:active {
  text-decoration: none;
  border-color: #ff0039;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
