html,
body {
  height: 100%;
}
body {
  padding-top: 60px;
  padding-bottom: 10px;
}
.container,
.container-fluid {
  height: 100%;
}
.hideOverflow,
.hideOverflowInLine {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.hideOverflow {
  width: 100%;
  display: block;
}
.height30 {
  min-height: 28%;
  height: 28%;
}
.height50 {
  min-height: 41%;
  height: 41%;
}
.height80 {
  height: 78%;
  min-height: 78%;
  max-height: 78%;
}
.fullheight,
.divScroll {
  height: 100%;
  min-height: 100%;
}
.divScroll,
.reduceDivScroll {
  position: relative;
  overflow-y: auto;
}
.divScroll {
  max-height: 100%;
}
.reduceDivScroll {
  height: 84%;
  min-height: 84%;
  max-height: 84%;
}
.popoverlarge {
  min-width: 600px;
  max-width: 600px;
  width: 600px;
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}
#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}