@{
    ViewBag.Title = "Home Page";
}
@section head
{
    <link href="~/Content/Index.css" rel="stylesheet" />
}
@section scripts
{
    <script id="list-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <a id="{{Id}}" class="thumbnail dllChoice">
                <div class="caption">
                    <h3>{{Name}}</h3>
                    <p>{{FullName}}</p>
                </div>
            </a>
        </div>
        {{/each}}
    </script>
    <script src="~/Scripts/ts/index.js"></script>
    <script>
        var CurrentBasePage = new IndexPage(
        {
            urlFiles: 'api/Files/Get',
            urlGet: 'api/Assemblies/Get',
            urlDll: '@Url.Action("Index","Dll")/Index'
        });
    </script>
}
<h2>Assemblies List</h2>
<div id="dlist" class="row">
</div>